

<footer class="gn-footer">
    <ul>

	<li>
            <span>2024 © Bumigeb.</span>
           
        </li>


        <li>
            <a href="http://www.bumigeb.bf/BUMIGEB/Pages/NousJoindre/Contact.html" class="nav-link">
                <span>Contact</span>
            </a>
        </li>
        <li>
            <a href="/developer/" class="nav-link">
                <span>Développeur</span>
            </a>
        </li>
        <li>
            <a href="/about/" class="nav-link">
                <span>A propos</span>
            </a>
        </li>
    </ul>
</footer>
